body {
    background-position: center;
    background-color: #ffffff;
}

.card {
    backdrop-filter: blur(16px) saturate(180%);
    border-radius: 12px;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 40px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid rgba(209, 213, 219, 0.3);
    transform: translateZ(0);
}

.hero {
    width:100%;
    height:100vh;
    position:relative;
    display:flex;
    align-items: center;
}

.back-video {
    position: relative;
    right:0;
    bottom:0;
    z-index:-1;
}

@media (min-aspect-ratio: 16/9) {
    .back-video {
        width:100%;
        height:auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .back-video {
        width:auto;
        height:100%;
    }
}

@media (min-aspect-ratio: 21/9) {
    .back-video {
        width:100%;
        height:auto;
    }
}

@media (max-aspect-ratio: 21/9) {
    .back-video {
        width:auto;
        height:100%;
    }
}