
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'home_KejuaraanPelatih_list' %}">
    KejuaraanPelatih Listing
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="tahun">tahun: </label>
      <input class="form-control col-sm-10"
         id="tahun" type="text"
         name="tahun" value="{{ object.tahun }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="last_updated">last_updated: </label>
      <input class="form-control col-sm-10"
         id="last_updated" type="datetime-local"
         name="last_updated" value="{{ object.last_updated }}" disabled>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="kejuaraan">kejuaraan: </label>
      <input class="form-control col-sm-10"
         id="kejuaraan" type="text"
         name="kejuaraan" value="{{ object.kejuaraan }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="created">created: </label>
      <input class="form-control col-sm-10"
         id="created" type="datetime-local"
         name="created" value="{{ object.created }}" disabled>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="medali">medali: </label>
      <input class="form-control col-sm-10"
         id="medali" type="text"
         name="medali" value="{{ object.medali }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="foto">foto: </label>
      <input class="form-control col-sm-10"
         id="foto" type="file"
         name="foto" value="{{ object.foto }}">
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}