<section class="h-screen w-full relative onlyMobile:transition-height" id="beranda">
    <div class="w-full h-full overflow-hidden relative">
        <div class="hero z-10">
          <video loop autoplay muted plays-inline class="back-video d-flex">
            <source src="/static/video/VideoOlimp2.mp4" type="video/mp4">
          </video>
        </div>
        
        <div class="top-0 z-20 w-full h-full" style="position:absolute; margin-top:300px; margin-left:190px; display:flex;">
          <div class="container mx-auto h-full relative">
            <div class="relative md:absolute bottom-0 h-full md:h-auto w-full md:w-3/4 flex items-end">
              <div class="mb-35 xl:mb-30 w-full sal-animate">
                <div class="word" style="color: var(--secondary, #FFFFFF);
                font-size: 96px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;"></div>
              </div>
            </div>
          </div>
        </div>

    </div>
    <div class="row reveal">
        <div class="col d-flex justify-content-around" style="
        background: var(--secondary, #151D24);
        display: flex;
        padding: 32px 28px;
        align-items: center;
        gap: 24px;
        flex-shrink:3;">
          <div><span class="label" style="color: var(--primary, #FAFAFA);
            /* Styles */
            font-family: Inter;
            font-size: 24px;
            font-style: italic;
            font-weight: 500;
            line-height: normal;">SEJARAH</span>
          </div>
          <div><span class="label" style="color: var(--primary, #FAFAFA);
            /* Styles */
            font-family: Inter;
            font-size: 24px;
            font-style: italic;
            font-weight: 500;
            line-height: normal;">PERKEMBANGAN</span>
          </div>
          <div><span class="label" style="color: var(--primary, #FAFAFA);
            /* Styles */
            font-family: Inter;
            font-size: 24px;
            font-style: italic;
            font-weight: 500;
            line-height: normal;">CABANG OLAHRAGA</span>
          </div>
          <div><span class="label" style="color: var(--primary, #FAFAFA);
            /* Styles */
            font-family: Inter;
            font-size: 24px;
            font-style: italic;
            font-weight: 500;
            line-height: normal;">KEJUARAAN INDONESIA</span>
          </div>
          <div><span class="label" style="color: var(--primary, #FAFAFA);
            /* Styles */
            font-family: Inter;
            font-size: 24px;
            font-style: italic;
            font-weight: 500;
            line-height: normal;">TRAINER PROFESSIONAL</span>
          </div>
        </div>
    </div>
</section>