<section>
    <div class="row mx-auto">
        <div class="col mx-auto" style="
        /* position: absolute; */
        top: 50%;
        right: 50%;
        /* margin: -25px 0 0 -25px; */
        ">
            <h1>Perkembangan Olahraga Indonesia</h1>
            <div class="wrapper mx-auto">
                <canvas id='c'></canvas>
                <div class="label"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- <h2>ahahah</h2> -->

        <!-- <div class="col" style="width: 1449px;
        /* height: 2094px; */
        height: 200px;
        flex-shrink: 2;
        /* display:flex; */
        z-index: -20;
        /* left: 25; */
        top:200px;
        border-radius: 50px 50px 0px 0px;
        background: var(--secondary, #151D24);">

        </div> -->
        <div class="col">
            ssds
        </div>
    </div>
</section>