<section class="banner3" id="kejuaraan">
    <div class="row d-flex mx-auto reveal">
        <div class="col mx-auto mt-5">
            <div class="row mx-auto mt-3 d-flex">
                <div class="col mx-auto">
                    <h1 class="text-center" style="color: var(--primary, #FAFAFA);
                    /* Heading H1 */
                    font-family: Outfit;
                    font-size: 64px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;">Kategori Olahraga</h1>
                </div>
            </div>
            <div class="row mx-auto mt-4 d-flex">
                <div class="kategori mx-auto mb-5">
                  <div aria-label="Basic radio toggle button group" class="nav nav-tabs btn-group mx-auto" style="border-radius: 30px;
                  border: 1px solid var(--button, #DF7B00);" role="tablist">
                    <li class="nav-item" role="presentation">         
                     <button id="home-tab" class="nav-link btn btn-outline-primary active" style="color: var(--button, #DF7B00);
                     /* Heading H3 */
                     font-family: Outfit;
                     font-size: 24px;
                     font-style: normal;
                     font-weight: 500;
                     line-height: normal;" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Cabang Olahraga
                    </button></li>
                    <li class="nav-item" role="presentation">
                      <button id="home1-tab" class="nav-link btn btn-outline-primary" style="color: var(--button, #DF7B00);
                      /* Heading H3 */
                      font-family: Outfit;
                      font-size: 24px;
                      font-style: normal;
                      font-weight: 500;
                      line-height: normal;" data-bs-toggle="tab" type="button" role="tab" aria-selected="false" aria-controls="home1" data-bs-target="#home1" tabindex="-1">Kejuaraan Olahraga</button></li>
                  </div>
            
          
                    
                </div>
            </div>
            <div class="tab-content">
              <div class="tab-pane fade mx-auto mt-3 active show" id="home" role="tabpanel" aria-labelledby="#home-tab">
                <div class="col mx-auto">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                          <div class="card h-100">
                            <img src="/static/Image/badminbg.png" class="card-img-top" alt="badminton">
                            <div class="card-body" style="color: var(--secondary, #151D24);

                            /* Paragraph/L/Regular */
                            font-family: Outfit;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 35px; /* 145.833% */">
                              <p class="card-text">Lihat semua sejarah, perkembangan, dan kejuaraan Badminton Indo</p>
                              <a type="button" href="/cabangOlahragaBadminton" class="buttonCardMain text-center" style="font-size: 18px;
                              font-style: normal;
                              font-weight: 500;
                              text-decoration: none; color: var(--primary, #FAFAFA); border:0;">Lihat Selengkapnya</a>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card h-100">
                            <img src="/static/Image/bg3.png" class="card-img-top" alt="sepakbola">
                            <div class="card-body" style="color: var(--secondary, #151D24);

                            /* Paragraph/L/Regular */
                            font-family: Outfit;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 35px; /* 145.833% */">
                              <p class="card-text">Lihat semua sejarah, perkembangan, dan nama kejuaraan Bola Indonesia</p>
                              <a type="button" href="/cabangOlahragaBadminton" class="buttonCardMain text-center" style="font-size: 18px;
                              font-style: normal;
                              font-weight: 500; text-decoration: none; color: var(--primary, #FAFAFA); border:0;">Lihat Selengkapnya</a>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card h-100">
                            <img src="/static/Image/bgbasket.png" class="card-img-top" alt="basket">
                            <div class="card-body" style="color: var(--secondary, #151D24);

                            /* Paragraph/L/Regular */
                            font-family: Outfit;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 35px; /* 145.833% */">
                              <p class="card-text">Lihat semua sejarah, perkembangan, dan nama kejuaraan Basket Indonesia</p>
                              <a type="button" href="/cabangOlahragaBadminton" class="buttonCardMain text-center" style="font-size: 18px;
                              font-style: normal;
                              font-weight: 500; text-decoration: none; color: var(--primary, #FAFAFA); border:0;">Lihat Selengkapnya</a>
                            
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card h-100">
                            <img src="/static/Image/bgvoli.png" class="card-img-top" alt="voli">
                            <div class="card-body" style="color: var(--secondary, #151D24);

                            /* Paragraph/L/Regular */
                            font-family: Outfit;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 35px; /* 145.833% */">
                              <p class="card-text">Lihat semua sejarah, perkembangan, dan nama kejuaraan Voli Indonesia</p>
                              <a type="button" href="/cabangOlahragaBadminton" class="buttonCardMain text-center" style="font-size: 18px;
                              font-style: normal;
                              font-weight: 500; text-decoration: none; color: var(--primary, #FAFAFA); border:0;">Lihat Selengkapnya</a>
                            
                            </div>
                          </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                              <img src="/static/Image/bgsilat.png" class="card-img-top" alt="silat">
                              <div class="card-body" style="color: var(--secondary, #151D24);

                              /* Paragraph/L/Regular */
                              font-family: Outfit;
                              font-size: 24px;
                              font-style: normal;
                              font-weight: 400;
                              line-height: 35px; /* 145.833% */">
                                <p class="card-text">Lihat semua sejarah, perkembangan, dan nama kejuaraan Silat Indonesia</p>
                                <a type="button" href="/cabangOlahragaBadminton" class="buttonCardMain text-center" style="font-size: 18px;
                              font-style: normal;
                              font-weight: 500; text-decoration: none; color: var(--primary, #FAFAFA); border:0;">Lihat Selengkapnya</a>
                              
                            </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100">
                              <img src="/static/Image/bglari.png" class="card-img-top" alt="atletik">
                              <div class="card-body" style="color: var(--secondary, #151D24);

                              /* Paragraph/L/Regular */
                              font-family: Outfit;
                              line-height: 35px; /* 145.833% */">
                                <p class="card-text" style="font-size: 24px;
                                font-style: normal;
                                font-weight: 400;">Lihat semua sejarah, perkembangan, dan nama kejuaraan Atletik Indonesia</p>
                                <a type="button" href="/cabangOlahragaBadminton" class="buttonCardMain text-center" style="font-size: 18px;
                              font-style: normal;
                              font-weight: 500; text-decoration: none; color: var(--primary, #FAFAFA); border:0;">Lihat Selengkapnya</a>
                              
                            </div>
                            </div>
                          </div>
                      </div>
                </div>
              </div>
              <div class="tab-pane fade mx-auto mt-3" id="home1" role="tabpanel" aria-labelledby="#home1-tab">
                <div class="col mx-auto">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                          <div class="card h-100">
                            <img src="/static/Image/kejuaraan1.png" class="card-img-top" alt="kejuaraan1">
                            <div class="card-body" style="color: var(--secondary, #151D24);

                            /* Paragraph/L/Regular */
                            font-family: Outfit;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 35px; /* 145.833% */">
                              <p class="card-text">Lihat semua semua sejarah, logo, nama tim, dan perkembangan di Liga 1 Sepak Bola Indonesia</p>
                              <a type="button" href="/cabangOlahragaBadminton" class="buttonCardMain text-center" style="font-size: 18px;
                              font-style: normal;
                              font-weight: 500;
                              text-decoration: none; color: var(--primary, #FAFAFA); border:0;">Lihat Selengkapnya</a>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card h-100">
                            <img src="/static/Image/kejuaraan2.png" class="card-img-top" alt="kejuaraan2">
                            <div class="card-body" style="color: var(--secondary, #151D24);

                            /* Paragraph/L/Regular */
                            font-family: Outfit;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 35px; /* 145.833% */">
                              <p class="card-text">Lihat semua semua sejarah, logo, nama tim, dan perkembangan di Basketball League</p>
                              <a type="button" href="/cabangOlahragaBadminton" class="buttonCardMain text-center" style="font-size: 18px;
                              font-style: normal;
                              font-weight: 500; text-decoration: none; color: var(--primary, #FAFAFA); border:0;">Lihat Selengkapnya</a>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card h-100">
                            <img src="/static/Image/kejuaraan3.png" class="card-img-top" alt="kejuaraan3">
                            <div class="card-body" style="color: var(--secondary, #151D24);

                            /* Paragraph/L/Regular */
                            font-family: Outfit;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 35px; /* 145.833% */">
                              <p class="card-text">Lihat semua sejarah, logo, nama tim, dan perkembangan di Proliga Indonesia</p>
                              <a type="button" href="/cabangOlahragaBadminton" class="buttonCardMain text-center" style="font-size: 18px;
                              font-style: normal;
                              font-weight: 500; text-decoration: none; color: var(--primary, #FAFAFA); border:0;">Lihat Selengkapnya</a>
                            
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card h-100">
                            <img src="/static/Image/kejuaraan4.png" class="card-img-top" alt="kejuaraan4">
                            <div class="card-body" style="color: var(--secondary, #151D24);

                            /* Paragraph/L/Regular */
                            font-family: Outfit;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 35px; /* 145.833% */">
                              <p class="card-text">Lihat semua sejarah, logo, nama, dan perkembangan kejuaraan Asian Games</p>
                              <a type="button" href="/cabangOlahragaBadminton" class="buttonCardMain text-center" style="font-size: 18px;
                              font-style: normal;
                              font-weight: 500; text-decoration: none; color: var(--primary, #FAFAFA); border:0;">Lihat Selengkapnya</a>
                            
                            </div>
                          </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                              <img src="/static/Image/kejuaraan5.png" class="card-img-top" alt="kejuaraan5">
                              <div class="card-body" style="color: var(--secondary, #151D24);

                                /* Paragraph/L/Regular */
                                font-family: Outfit;
                                font-size: 24px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 35px; /* 145.833% */">
                                <p class="card-text">Lihat semua sejarah, logo, nama, dan perkembangan kejuaraan Liga Futsal Profesional</p>
                                <a type="button" href="/cabangOlahragaBadminton" class="buttonCardMain text-center" style="font-size: 18px;
                                font-style: normal;
                                font-weight: 500; text-decoration: none; color: var(--primary, #FAFAFA); border:0;">Lihat Selengkapnya</a>
                              
                              </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                              <img src="/static/Image/kejuaraan62.png" class="card-img-top" alt="kejuaraan6">
                              <div class="card-body" style="color: var(--secondary, #151D24);

                                /* Paragraph/L/Regular */
                                font-family: Outfit;
                                line-height: 35px; /* 145.833% */">
                                <p class="card-text" style="font-size: 24px;
                                font-style: normal;
                                font-weight: 400;">Lihat semua sejarah, logo, nama, dan perkembangan nama kejuaraan Turnamen Renang</p>
                                <a type="button" href="/cabangOlahragaBadminton" class="buttonCardMain text-center" style="font-size: 18px;
                                font-style: normal;
                                font-weight: 500; text-decoration: none; color: var(--primary, #FAFAFA); border:0;">Lihat Selengkapnya</a>
                              
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>