<footer id="footer" class="footer" style="box-shadow: 0px 0px 30px rgba(46, 60, 64, 0.4);
box-sizing: border-box;
overflow: hidden;
padding: 35px 100px 0;
width: 100%;
background-color: ##797F86;
border-top-right-radius: 64px;
border-top-left-radius: 64px;">
  <div class="container-fluid py-4">
    <div class="top">
      <!-- <div class="left">
        <a href="/"><img src="/static/Image/Logo/android-chrome-512x512.png"
            style="width: 80px;height: 80px;margin-left: 43px;top: 9px;" alt="Gambar" class="bulat"></a>
         <p>
          Cultured adalah website yang menyajikan informasi untuk mengenal suku di Indonesia dalam satu situs.
        </p>
      </div> -->

      <div class="right">
        <div class="col">
          <div class="content">
            <ul class="navbar-nav" style="background-color: #797F86; display: block; ">
              <a href="/"><img src="/static/Image/Logo/android-chrome-512x512.png"
                  style="width: 80px;height: 80px;margin-left: 150px;top: 9px;" alt="Gambar" class="bulat"></a>
              <li class="nav-item">
                <a class="nav-link pl-1" href="#beranda"
                  style="font-weight: 600;font-size: 20px;line-height: 24px;text-align: center;">Beranda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-1" href="#kejuaraan"
                  style="font-weight: 600;font-size: 20px;line-height: 24px;text-align: center;">Kejuaraan</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-1" href="#pelatih"
                  style="font-weight: 600;font-size: 20px;line-height: 24px;text-align: center;">Pelatih Kami</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-1" href="#footer"
                  style="font-weight: 600;font-size: 20px;line-height: 24px;text-align: center;">Tentang Kami</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- <div class="column bawah"> -->
        <!-- sds -->
        <!-- <h3>BAGIKAN</h3>
          <p>Yuk bantu bagikan situs website<br> ini ke sosial mediamu untuk<br> menjaga kelestarian budaya kita!</p>
          <div class="icon-share">
            <a href="https://twitter.com/intent/tweet?url=%20https%3A%2F%2Fnandaha29.github.io/BismillahSukses-hiedescom2k21%2F&amp;text=Mari%20Belajar%20Budaya%20Bangsa%3F%20Dengan%20Buka%20Cultured"
              class="share" target="_blank">
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https://nandaha29.github.io/BismillahSukses-hiedescom2k21/"
              class="share" target="_blank">
            </a>
            <a href="https://t.me/share/url?url=https%3A%2F%2Fnandaha29.github.io/BismillahSukses-hiedescom2k21%2F&amp;text=Mari%20Belajar%20Budaya%20Bangsa%3F%20Dengan%20Buka%20Cultured"
              class="share" target="_blank">
            </a>
            <a href="https://api.whatsapp.com/send?text=Mari%20Belajar%20Budaya%20Bangsa%3F%20Dengan%20Buka%20Cultured%20di%20https%3A%2F%2Fnandaha29.github.io/BismillahSukses-hiedescom2k21%2F"
              class="share" target="_blank">
            </a> -->
        <!-- </div> -->
      </div>
    </div>
  </div>

  <div class="bottom">
    <p> &copy; Copyright 2023, Sporty Spot - All Rights Reserved</p>
  </div>
  </div>
</footer>